[Unit]
Description=Clash for Linux
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/clash-for-linux
Environment=CLASH_HOME=/opt/clash-for-linux
ExecStart=/bin/bash -c 'exec /bin/bash "${CLASH_HOME}/start.sh"'
ExecStop=/bin/bash -c 'exec /bin/bash "${CLASH_HOME}/shutdown.sh"'
Restart=on-failure
RestartSec=5
User=clash
Group=clash
PIDFile=%E{CLASH_HOME}/temp/clash.pid
Environment=CLASH_ENV_FILE=%E{CLASH_HOME}/temp/clash-for-linux.sh

[Install]
WantedBy=multi-user.target
